{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'announcements/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Updates | GoSimplezy</title>
</head>
<body>
    {% include 'announcements/navigation.html' %}
    <section>
        <div class="wrapper content">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
</body>
</html>